/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    padding-top: 100px;
}


.form-container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

h1 {
    color: #333;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: left;
}

.form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

input, select, textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    font-size: 16px;
    color: #666;
    background: white;
    transition: border-color 0.3s ease;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #d32f2f;
}

select {
    margin-bottom: 20px;
    cursor: pointer;
}

textarea {
    margin-bottom: 25px;
    resize: vertical;
    min-height: 120px;
}

 button {
    width: 100%;
    padding: 18px;
    background-color: #d32f2f; 
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
} 

/* button:hover {
    background-color: #b71c1c;
} */

@media (max-width: 600px) {
    .form-row {
        flex-direction: column;
        gap: 20px;
    }
    
    .form-container {
        padding: 20px;
    }
} */